@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

body {
    min-width: 300px;
}

header {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

header h1 {
    padding-top: 10px;
    font-variant: small-caps;
    font-family: "Passion One", serif;
    font-size: 10vw;
}

header p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw;
}

header p a{
    text-decoration: none;
    color: white;
}

header p a:hover {
    text-decoration: underline;
}

pre p {
    font-family: "Sriracha", serif;
}

pre {
    background-color: white;
    font-size: 3vw;
    padding-left: 30px;
}

#pre2 p, #pre5 p {
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
    width: 36vw;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.329);
    text-shadow: 2px 2px 0px black;
}

#pre2, #pre5 {
    box-shadow: inset 6px 6px 10px rgba(0, 0, 0, 0.418);
}

#pre2 {
    background: white url(media/background001.jpg) center/cover no-repeat fixed;
}

#pre5 {
    background: white url(media/background002.jpg) center/cover no-repeat fixed;
}

footer {
    background-color: black;
    text-align: center;
    padding: 12px;
    color: white;
    font-family: arial;
    font-size: 2.5vw;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}
